<form action="/auth/login" method="post">
   <h4 class="center-align bold">Login</h4>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Username</label>
         <input class="validate" type="text" name="username" required id="">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Password</label>
         <input class="validate" type="password" name="password" required id="">
      </div>
   </div>
   <div class="row">
      <div class="col s12 m4 offset-m4 center-align">
         <input class="btn" type="submit" value="Login">
      </div>
   </div>
   <div class="row">
      <div class="col s12 m4 offset-m4 center-align">
         <a class="btn blue" href="/auth/register">Register</a>
      </div>
   </div>
</form>
