<form action="/auth/register" method="post">
   <h4 class="center-align bold">Register</h4>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Username</label>
         <input class="validate" type="text" name="username" required id="">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Password</label>
         <input class="validate" type="password" name="password" required id="password">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label>Retype Password</label>
         <span class="retype_error"></span>
         <input class="validate" type="password" name="retype" required id="retype">
      </div>
   </div>
   <div class="row">
      <div class="col s12 m4 offset-m4 center-align">
         <input class="btn" type="submit" value="Register">
      </div>
   </div>
</form>