<form action="" method="post">
   <h1>Edit product</h1>
   Name: <input type="text" name="name" required value="{{ product.name }}">
   <br><br>
   Price: <input type="number" name="price" required value="{{ product.price }}">
   <br><br>
   Image: <input type="url" name="image" required value="{{ product.image }}">
   <br><br>
   <img src="{{ product.image }}" alt="" width="120" height="120">
   <br><br>
   <input class="btn" type="submit" value="Edit">
</form>