<!DOCTYPE html>
<html>

<head>
  <title>Product Management System</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="/scripts/validation.js"></script>

  <script src="/scripts/materialize.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>
  {{!-- Page header --}}
  <div class="container">
    <nav class="blue bold upper">
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/product">PRODUCT</a>
        </li>
        <li>
          <a href="/category">CATEGORY</a>
        </li>
        <li>
          <a href="/auth/logout">LOGOUT ({{ username }})</a>
        </li>
      </ul>
    </nav>

    {{!-- Page content --}}
    <div class="row">
      {{{body}}}
    </div>
</body>

</html>