<form action="" method="post">
   <h4 class="center-align bold">Add new category</h4>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label for="">Category name</label>
         <input class="validate" type="text" name="name" id="">
      </div>
   </div>
   <div class="row">
      <div class="input-field col s12 m4 offset-m4">
         <label for="">Category description</label>
         <input class="validate" type="text" name="description" id="">
      </div>
   </div>
   <div class="row">
      <div class="col s12 m4 offset-m4 center-align">
         <input class="btn" type="submit" value="Add">
      </div>
   </div>
</form>

