<form action="" method="post">
   <h1>Edit category</h1>
   <input type="text" name="name" required
   placeholder="Enter category name"
   value="{{ category.name }}">
   <br><br>
   <input type="text" name="description" required
   placeholder="Enter category description"
   value="{{ category.description }}">
   <br><br>
   <input class="btn" type="submit" value="Edit">
</form>

